#before-footer.bf-bookkeeping{
    @include sm-block{
        padding-top: 40px;
        padding-bottom: 60px;
    }        
    padding-top: 70px;
    padding-bottom: 160px;

    .before-footer__content{
        @include sm-block{
            min-height: auto;
        }
        min-height: 485px;
    }

    > .container{
        background-position-y: top;

        &::after{
            @include sm-block{
                margin-top: 60px;
            }
        }
    }

    h2{
        @include size(6);
        @include sm-block{
            width: 100%;
            margin-bottom: 40px;
            padding-top: 0;
            font-size: 22px;
            line-height: 29px;
        }
        margin-bottom: 75px;
        padding-top: 55px;
        font-size: 40px;

        .modify{
            @include sm-block{
                display: block;
                color: $violet;
            }
        }
    }

    .btn{
        @include sm-block{
            margin: 0 auto;
        }
    }
}
