.list-style.conditions{
    @include sm-block{
        padding-top: 50px;
        padding-bottom: 15px;
    }
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 45px;

    h2{
        @include col;
        @include size(7);
        @include size-sm(12);
        @include size-xs(12);
        @include md-block{
            margin-bottom: 39px;
        }
        margin-bottom: 0;
    }

    .conditions-list{
        @include col;
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{
            margin-bottom: 0;
        }
        @include xs-block{
            @include t3;
        }

        li{
            @include sm-block{
                padding-left: 35px;
                
                &::before{
                    top: 0;                    
                }
            }
            padding-left: 50px;

            &::before{
                top: 7px;
            }
        }
    }
}