.first-screen.bookkeeping{
    @include md-block{
        padding-top: 55px;
    }
    @include sm-block{
        min-height: 475px;
        padding-top: 30px;
        padding-bottom: 65px;
    }
    position: relative;
    min-height: 730px;
    padding-top: 105px;
    padding-bottom: 55px;

    &::before{
        @include md-block{
            background: url(../img/bk-tablet.png) top 55px right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
        }
        @include sm-block{
            height: calc(100% + $space_between_firScr_and_pageTop_mobile);
            // background-position-y: 55px, 0;
        }
        @include xs-block{
            background: url(../img/bk-mobile2.png) top 60px center no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
        }

        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% + $space_between_firScr_and_pageTop);
        background: url(../img/bg-bookkeeping.png)no-repeat,  linear-gradient(180deg, #FFFFFF 16%, rgba(235, 235, 235, 0.72) 63%);
        background-position: calc(50% + 300px) -5px, 0 0;
        bottom: 0;
        z-index: -1;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(.5, 0.01, 0.58, 0.46);
    
        @keyframes Appearance {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    

    h1{
        @include xs-block{
            width: 275px;
            margin-bottom: 25px;
        }
        margin-bottom: 75px;
    }

    .directions{
        @include md-block{
            margin-bottom: 70px;
            font-size: 21px;
        }
        @include xs-block{
            margin-bottom: 65px;
            font-size: 14px;
        }
        margin-bottom: 120px;
    }

    .directions-list{
        @include md-block{
            max-width: 65%;
        }
        @include xs-block{
            max-width: 50%;
            min-height: 165px;
        }

        li + li{
            margin-top: 15px;
        }
    }

    .actions{
        @include md-block{
            button{
                width: 220px;

                & + *{
                    margin-left: 10px;
                }
            }
        }
        @include sm-block{
            display: block;
            button{
                width: 265px;

                & + *{
                    margin-top: 20px;
                    margin-left: 0;
                }
            }

        }
        @include xs-block{
            button{
                width: 300px;
                margin-left: auto;
                margin-right: auto;

                & + *{
                    margin-left: auto;
                    margin-right: auto;
                }
            }            
        }
        
        button{

            & + *{
                margin-left: 30px;
            }
        }
    }        
}