.for-bg-product-info{
    // background: linear-gradient(0deg, #ffffff 45%, rgba(235, 235, 235, 0.72) 100%);
}

.for-bg-product-info{
    @include sm-block{
        background: none;
    }
    background: url(../img/rectangle-grey-full-bl2.svg) no-repeat;
    background-position: calc(50% - 870px) -60px;
}

.product-info{
    @include md-block{
        padding-top: 50px;
    }
    @include sm-block{
        padding-bottom: 50px;
        padding-top: 35px;
    }
    padding-bottom: 75px;
    position: relative;
    
    &::before{
        @include md-block{
            width: calc(100vw);
        }
        @include sm-block{
            background: none;
        }
        position: absolute;
        content: '';
        background: linear-gradient(0deg, #ffffff 45%, rgba(235, 235, 235, 0.72) 100%);
        width: calc(100vw - 17px);
        transform: translateX(-50%);
        height: 100%;
        top: 0;
        left: 50%;
        z-index: -1;
    }

    h2{
        @include md-block{
            margin-bottom: 55px;
        }
        @include sm-block{
            margin-bottom: 35px;
        }
        margin-bottom: 85px;
    }

    .product-descript{
        @include col();
        @include size(6);
        @include size-sm(12);
        @include xs-block{
            @include t2;
        }
        @include t1;

        .read-more{  
            @include sm(font-size, 14px);
            display: inline-flex;
            align-items: center;
            color: $violet;
            
            &::after{
                @include text-width-plus;
                transition: transform .3s;
            }

            &.active::after{
                @include text-width-plus;
                transform: rotate(45deg);
            }
        }

        .actions{
            @include sm-block{
                margin-bottom: 40px;
                padding-left: 0;
            }
            padding-left: 30px;
        }
    }

    .descript-list{
        @include sm-block{
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 23px;
        }
        margin-bottom: 40px;

        li{
            padding-left: 30px;
        }
        li::before{
            @include text-width-triangle-center;
            top: 0;
            left: 0;
            transform: none; 
        }

        li + li{
            margin-top: 25px;
        }
    }

    .detailed-descript{
        @include t2;
        display: none;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .what-include{
        @include col;
        @include size(6);
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{
            padding-left: 0;
        }
        @include t1;
        padding-left: 65px;

        h3{
            @include sm-block{
                @include p4;
            }
            margin-bottom: 30px;
        }

        li{

            @include pane(65px);
            padding-left: 55px;

            &::before{
                @include list-style-triangle;
            }
        }

        li + li{
            margin-top: 25px;
        }
    }
}