.what-you-get-bkp{
    padding-top: 70px;
    padding-bottom: 50px;

    h2{
        @include sm-block{
            margin-bottom: 40px;
        }
        margin-bottom: 90px;
    }

    .row{
        padding-top: 10px;
        position: relative;

    }

    .img-box{
        @include col;
        @include size(6);
        @include size-md(5);
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{
            order: 2;
        }


        img{
            @include sm-block{
                max-width: 240px;
                margin: 0 auto;
            }
            filter: drop-shadow(80px 80px 150px rgba(0, 0, 0, 0.25));                
        }
    }

    .what-get-list{
        @include col;
        @include size(5);
        @include size-md(7);
        @include size-sm(12);
        @include md-block{
            margin-left: 0;
        }
        @include sm-block{
            margin-bottom: 50px;
            margin-left: 10px;
        }
        @include t1-including-mobile;
        margin-left: 80px;
        
    }

    li{
        display: flex;
        align-items: flex-start;

        
        img{
            @include sm-block{
                max-width: 63px;
            }
            margin-right: 25px;                
        }

        &:last-child{
            align-items: center;
        }
    }

    li + li{
        @include sm-block{
            margin-top: 30px;
        }
        margin-top: 25px;
    }


}
