.work-online{
    @include sm-block{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    position: relative;
    padding-top: 75px;
    padding-bottom: 150px;
    
    &::before{
        @include md-block{
            width: calc(100vw);
        }
        @include sm-block{
            background: none;
        }
        position: absolute;
        content: '';
        background: linear-gradient(180deg, rgba(210, 210, 210, 0) 26.82%, #ececec 107.81%);
        width: calc(100vw - 17px);
        transform: translateX(-50%);
        height: 100%;
        top: 0;
        left: 50%;
        z-index: -1;
    }

    h2{
        @include size(8);
        @include size-md(11);
        @include size-sm(12);
        @include size-xs(12);
        @include sm(margin-bottom, 30px);
        margin-left: 0;
        margin-bottom: 100px;

        .modify{
            color: $violet;
        }
    }

    .img{
        @include col;
        @include size(6);
        @include size-md(5);
        @include size-sm(12);
        @include sm-block{
            order: 2;
        }
    }
    
    
    .descript{
        @include col;
        @include size(6);
        @include size-md(7);
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{
            margin-bottom: 70px;
            padding-right: 0;
            padding-left: 0;
        }
        @include xs-block{
            margin-bottom: 45px;
        }
        @include t1-including-mobile;
        padding-left: 65px;
        padding-right: 30px;       

        p{
            @include xs-block{
                margin-bottom: 30px;
            }
            margin-bottom: 25px;
        }

    }

}