.first-screen.crm{
    position: relative;
    background: none;
    min-height: 650px;
    padding-top: 45px;
    @include sm-block{
        min-height: auto;
        padding-top: 15px;
        padding-bottom: 45px;
    }

    &::before{
        @include md-block{
            // background: url(../img/bk-tablet.png) top 55px right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
        }
        @include sm-block{
            // height: calc(100% + $space_between_firScr_and_pageTop_mobile);
            // background-position-y: 55px, 0;
            background: url(../img/bg-crm-mobile.png) center right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);

        }
        @include xs-block{
            background: url(../img/bg-crm-mobile.png) center right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
        }

        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% + $space_between_firScr_and_pageTop);
        background: url(../img/bg-crm.png) no-repeat,  linear-gradient(180deg, #FFFFFF 16%, #F4F4F4 63%);
        background-position: calc(50% + 310px) 10px, 0 0;
        bottom: 0;
        z-index: -1;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(.5, 0.01, 0.58, 0.46);

        @keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
    }    
    
    h1{
        @include size(8);
        @include size-sm(12);
        @include size-xs(12);
        
        @include sm-block{
            margin-bottom: 65px;
        }
        margin-bottom: 50px;
    }    

    .directions-list{
        @include sm-block{
            @include t1-mobile;
            margin-bottom: 40px;
        }
        margin-bottom: 110px;

        li + li{
            margin-top: 15px;
        }
    }
}
