.survey-crm{
    @include sm-block{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @include xs-block{
        padding-bottom: 0;
    }
    padding-top: 75px;

    .survey-row{
        @include md-block{
            background-position-x: -50px;
        }
        @include sm-block{
            background: none;
        }
        background: url(../img/man.png) center left no-repeat;

        &::after{
            @include sm-block{
                content: '';
                width: 100%;
                height: 380px;
                background: url(../img/man.png) center bottom/420px no-repeat;
            }
            @include xs-block{
                content: '';
                width: 100%;
                height: 320px;
                background-size: 330px;
            }
        }
    }

    .survey__heading{
        @include sm-block{
            margin-bottom: 15px;
        }
    }

    .fields-wrapper{
        @include sm-block{
            margin-bottom: 25px;
        }
    }
    
}
