.why-introduction{
    background: linear-gradient(0deg, #FFFFFF 16%, #F4F4F4 63%);

    @include sm-block{
        padding-bottom: 55px;
    }
    padding-top: 45px;
    padding-bottom: 60px;

    h2{
        @include size(9);
        @include size-sm(12);
        @include size-xs(12);
        @include sm(margin-bottom, 45px);
        margin-bottom: 55px;
    }

    .item{
        @include t1;
        @include col;
        @include size(6);
        @include sm-block{
            flex-basis: 220px;
            flex-wrap: wrap;
            display: block;
            height: 215px;
            margin: 0;
            padding-top: 40px;
            text-align: center;
        }
        @include xs-block{
            margin: 0;
            @include t2;
        }

        display: flex;
        align-items: center;
        min-height: 145px;
        padding: 20px 25px 10px;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 5px 20px rgba(41, 41, 42, 0.07);
        
        img{
            
            @include sm-block{
                margin: 0 auto 10px;
            }
            margin-right: 25px;
            
        }
        
    }

    .swiper-wrapper{
        @include md-block{
            margin-bottom: 30px;
        }
    }

    .slider-nav{
        @include sm-block{
            display: block;
        }
        display: none;
    }

}