.first-screen-services{
    @include sm-block{
        padding-top: 20px;
        min-height: 480px;
    }
    padding-top: 75px;
    min-height: 645px;
    position: relative;

    &::before{
        @include md-block{
            background: url(../img/bg-services-tablet.png) no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
            background-position: calc(50% + 100px) 110px, 0 0;
        }
        @include sm-block{
            height: calc(100% + $space_between_firScr_and_pageTop_mobile);
            background: url(../img/bg-services-mobile.png) no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
            background-position: calc(50% + 130px) 110px, 0 0;
        }
        content: '';
        position: absolute;
        background: url(../img/bg-services.png) no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
        background-position: calc(50% + 310px) -60px, 0 0;
        width: 100%;
        height: calc(100% + $space_between_firScr_and_pageTop);
        bottom: 0;
        z-index: -1;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(1, 0.01, 0.58, 0.46);
    
        @keyframes Appearance {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }

    h1{
        @include size-md(12);
        @include size-xs(8);
        @include sm-block{
            margin-bottom: 20px;
        }
        margin-bottom: 50px;
    }

    p{
        @include size(6);
        @include size-md(8);
        @include md-block{@include t1}
        @include sm-block{
            @include t1-mobile;
            min-height: 175px;
        }
        @include xs-block{
            width: 310px;
        }
        margin-bottom: 100px;
    }

    .actions{
        >*{@include xs-block{margin: 0 auto;}}
    }
}