#page-services #services{
    @include sm-block{padding: 45px 0 50px;}
    padding: 40px 0 75px;
    background:linear-gradient(0deg, #FFFFFF 14.87%, #F4F4F4 62.25%);


    h2{
        @include sm-block{margin-bottom: 35px;}
        margin-bottom: 85px;
    }

    .services-box, .descript-box{
        @include col;
    }

    .services-box{
        @include size(4.9);
        @include size-md(12);
        @include size-xs(12);
    }

    .service-list-wrapper{
        @include md-block{border: none; padding: 0;}
        border-right: 3px solid $violet;
        padding-right: 10px;
    }

    .services-list{
        @include sm-block{@include p2}
        @include p4;        
        margin-bottom: 60px;
        cursor: pointer;

        > li{            
            transition: color .3s;

            .title{
                @include from(993px){padding-left: 30px;}
                position: relative;               

                &::before{
                    @include md-block{
                        content: none;
                    }

                }
                
                &::after{
                    @include md-block{
                        @include text-width-triangle-center;
                        position: relative;
                        display: inline-block;
                        margin-left: 15px;
                        top: 3px;

                        transition: transform .3s;    
                    }
                }
            }

            &.active .title::before{
                @include from(993px){
                    @include text-width-triangle-center;
                    top: 3px;
                }                
            }

            &.active .title::after{
                @include md-block{
                    transform: rotate(90deg);
                }               
            }           

            &.active{
                color: $violet;
            }

            &:hover{
                color: $violet-dark;
            }

            & + li{
                margin-top: 40px;
            }
        }
    }

    .services-list .service-descript{
        @include md-block{
            @include t2;
        }
        @include sm-block{
            @include t1-mobile;
        }
        display: none;
        margin-top: 20px;
        color: #000;
    }

    .descript-box{
        @include size(7.1);
        @include t1;
        position: relative;
        padding-left: 10px;
        z-index: 0;
    }

    .descript-list{
        @include md-block{
            margin-top: 15px;
        }
        list-style-type: disc;
        padding-left: 20px;
        margin-top: 35px;

    }

    .bg-img{
        @include from(1270px){right: -20px}
        @include md-block{display: none;}
        position: absolute;
        margin-left: auto;
        right: 45px;
        bottom: 0;
        transform: scale(105%);
        z-index: -1;

        animation: infinite alternate;
        animation-name: Rotate;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(.5, 0.01, 0.58, 0.46);
    
        @keyframes Rotate {
            0% {transform: rotate(0);}
        }
        
    }

    .img-udalenka{        
        transform: rotate(15deg) scale(105%);
    }

    .img-edo{
        transform: rotate(11deg) scale(105%);
    }

    .img-ustanovka{
        transform: rotate(7deg) scale(105%);
    }

    .img-vnedrenie{
        bottom: 130px;
        transform: rotate(6deg) scale(105%);        
    }

    .img-marketing{
        bottom: 100px;              
    }
}