.page-news{
    @include sm-block{
        padding-top: 20px;
    }
    padding-top: 35px;

    h1{
        @include sm-block{
            margin-bottom: 20px;
        }
        margin-bottom: 35px;
    }

    .news-info{
        @include sm-block{
            padding-bottom: 100px;
        }
        padding-bottom: 150px;

        .news-info__img-box{
            @include sm-block{
                margin-bottom: 35px;
            }
            margin-bottom: 65px;
            text-align: center;
            
            img{
                margin: 0 auto;
                border-radius: 8px;
                box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
            }

            .img{
                @include sm-block{
                    display: none;
                }
            }

            .modify-mobile{
                @include sm-block{
                    display: block;
                }
                display: none;
            }
        }
    }
    
    .page-news-article{
        @include sm-block{
            @include t1-mobile;
        }
        @include t2;      


        & + .page-news-article {
            @include sm-block{
                margin-top: 30px;
            }
            margin-top: 40px;
        }

        h2{
            @include sm-block{
                @include t1-mobile;
                margin-bottom: 20px;

            }
            @include p2;
            margin-bottom: 25px;
        }

        p{
            @include sm-block{
                margin-bottom: 15px;
            }
            margin-bottom: 25px;
        }
    }

    .row{
        @include md-block{
            @include row-flex;
        }
        flex-wrap: nowrap;
    }

    .col-one, .col-two{
        @include col;
        @include size-md(12);
        @include size-xs(12);
        @include md-block{
        }
    }

    .col-one{
        @include size(8);
        @include sm-block{
            padding-top: 0;
            padding-bottom: 25px;
        }
        padding-top: 10px;
    }

    .col-two{
        @include md-block{
            flex-basis: auto;
            padding-left: 0;
        }
        @include sm-block{
            padding-top: 25px;
        }        
        padding-left: 25px;
        flex-basis: 350px;
        flex-shrink: 0;
    }

    .newsletter-aside{
        @include sm-block{
            padding: 40px 20px 75px;
        }
        width: auto;        
        margin: 0 0 65px;
        padding: 65px 25px 65px 35px;
        background: $violet;
        color: #fff;
        border-radius: 8px;

        h3{
            @include h1;
            margin-bottom: 15px;
        }

        .descript{
            @include sm-block{
                margin-bottom: 30px;
            }
            margin-bottom: 55px;
        }

        form{
            margin-bottom: 25px;
    
            input{
                margin-bottom: 20px;
                width: 100%;
                max-width: 475px;
                height: 55px;
                margin-right: 20px;
                padding: 0 15px;  
                background: #F7F7F7;
                box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                outline: none;
                box-sizing: border-box;  

                &::placeholder{
                    font-size: 14px;
                    color: $grey;
                }
            }

        }

        button{
            @include md-block{
                max-width: 265px;
            }
            width: 100%;
            display: inline-block;
        }
    
        .rules{
            @include md-block{
                @include size(9);
            }
            @include xs-block{width: 100%}
            @include t4;
        }

    }

    .related-news{
        @include sm-block{
            padding-bottom: 30px;;
        }
        padding-bottom: 45px;

        .section-heading{
            @include h1;
        }

        article{
            transition: transform .3s;

            &:hover{
                transform: scale(103%);
            }

            & + article{
                @include sm-block{
                    margin-top: 35px;
                }
                margin-top: 50px;
            }
            
        } 
        .news__date{
            @include t1-mobile;
            margin-bottom: 7px;
            color: #929292;
        }
    

        .news__title{
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 22px;
        }

        .short__descript{
            @include sm-block{
                @include t1-mobile;
                margin-bottom: 15px;
            }
            margin-bottom: 20px;
            font-weight: 500;
            line-height: 22px;

        }

        .read__more{
            @include t3;
            color: $violet;
        
            &::after{
                content: url('../img/arrow.svg');
                display: inline-block;
                margin-left: 15px;
            }
    
        }
    }

    .share__text{
        @include sm-block{
            margin-bottom: 25px;
            padding-top: 30px;
        }
        @include h1;
        margin-bottom: 30px;
        padding-top: 45px;
    }

    .social-share-list{
        @include md-block{display: flex;}
        @include xs-block{justify-content: space-between;}

        li + li{
            @include md-block{
                margin-top: 0;
                margin-left: 20px;
            }
            @include xs-block{margin-left: 0;}
            margin-top: 10px;
        }

        img{
            background: #fff;
            box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
        }

    }

}