.first-screen.its{
    @include md-block{
        padding-top: 55px;
    }
    @include sm-block{
        min-height: 475px;
        padding-top: 30px;
        padding-bottom: 55px;
    }
    @include xs-block{
        min-height: 475px;
        padding-top: 10px;
        padding-bottom: 65px;
    }
    position: relative;
    min-height: 710px;
    padding-top: 35px;
    padding-bottom: 75px;

    &::before{
        @include md-block{
            height: 100%;
            background: url(../img/bg-its-tablet.png) top 150px center no-repeat, linear-gradient(180deg, #FFFFFF 15%, #F4F4F4 62%);
        }
        @include sm-block{            
            // height: calc(100% + $space_between_firScr_and_pageTop_mobile);
            background: url(../img/bg-its-mobile-ext.png) top 100px center no-repeat, linear-gradient(180deg, #FFFFFF 15%, #F4F4F4 62%);
            
        }
        @include xs-block{
            background: url(../img/bg-its-mobile.png) top center no-repeat, linear-gradient(180deg, #FFFFFF 15%, #F4F4F4 62%);
        }

        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% + $space_between_firScr_and_pageTop);
        background: url(../img/bg-its.png) no-repeat, linear-gradient(180deg, #FFFFFF 15%, #F4F4F4 62%);
        background-position: calc(50% + 310px) 20px, 0 0;
        bottom: 0;
        z-index: -1;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(.5, 0.01, 0.58, 0.46);
    
        @keyframes Appearance {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    

    h1{
        @include size-md(12);
        @include xs-block{
            font-size: 24px;
            line-height: normal;
            width: 275px;
            margin-bottom: 125px;
            
        }
        margin-bottom: 35px;
    }

    .sub-title{
        @include size-md(7);
        @include size-sm(6);
        @include sm-block{
            font-size: 18px;
            line-height: normal;
        }
        @include xs-block{
            display: none;
        }
        margin-bottom: 35px;
    }

    .directions{
        @include md-block{
            margin-bottom: 70px;
            font-size: 21px;
        }
        @include xs-block{
            margin-bottom: 65px;
            font-size: 14px;
        }
    }

    .directions-list{
        @include size(4);
        @include size-md(6);
        // @include size-sm(8);
        @include size-xs(7);
        @include md-block{
            max-width: 65%;
        }
        @include xs-block{
            max-width: 50%;
            margin-bottom: 25px;
            min-height: 165px;
        }
        @include t1-including-mobile;
        margin-bottom: 65px;

        li::before{
            top: 1px;
        }

        li + li{
            @include xs(margin-top, 20px);
            margin-top: 30px;
        }
    }

    .actions{
        @include md-block{
            a{
                width: 265px;

                & + a{
                    margin-left: 10px;
                }
            }
        }
        @include sm-block{
            display: block;
            a{
                width: 265px;

                & + a{
                    margin-top: 20px;
                    margin-left: 0;
                }
            }

        }
        @include xs-block{
            a{
                width: 300px;
                margin-left: auto;
                margin-right: auto;

                & + a{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
           
        }
    }
    
}