#what-include-its{
    @include sm-block{
        padding-top: 55px;
        padding-bottom: 50px;
        background: linear-gradient(0deg, #F4F4F4 15%, #F4F4F4 62%);
    }
    padding-top: 75px;
    padding-bottom: 75px;
    background: linear-gradient(180deg, #F4F4F4 15%, #FFFFFF 62%);

    .container-for-swiper{
        @include md-block{
            padding: 0;
        }
    }

    .swiper{
        @include md-block{
            overflow: hidden;
        }
        overflow: visible;
    }

    .items{
        @include md-block{
            margin-bottom: 40px;
        }        
    }
    
    .items__item{
        @include col;
        @include size(3);
        @include md-block{
            margin: 0;
            flex-basis: 265px;
        }
        @include xs-block{
            margin: 0;
        }
        padding: 20px 10px 30px 15px;
        height: 220px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        transition: transform .3s;

        &:hover{
            transform: scale(103%);
        }
    }

    .item__icon{
        max-width: 50px;
        margin-bottom: 15px;
    }

    .item__title{
        @include t3;
        margin-bottom: 10px;
    }

    .item__text{
        @include t2;
    }

    .slider-nav{
        @include md-block{
            display: block;
            text-align: center;
        }
        display: none;
    }
}