        <footer id="footer">
            <div class="container">
                <div class="logo"><img src="img/logo2.png" alt=""></div>
                <div class="footer-info row">
                    <div class="footer-contacts">
                        <p>Санкт-Петербург<br>
                            195112, Заневский пр., д.30, корп.2, офис 204<br>
                            8-800-500-78-34
                        </p>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#footer">Продукты</a></li>
                            <li><a href="services.html">Услуги</a></li>
                            <li><a href="#footer">Блог</a></li>
                            <li><a href="#footer">Вакансии</a></li>
                            <li><a href="#footer">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#footer">VK</a></li>
                            <li><a href="#footer">Instagram</a></li>
                            <li><a href="#footer">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="footer-bottom">
                    <div class="copyright">© 2021 Logasoft. All rights reserved</div>
                    <div class="politics">
                        <a href="#footer">
                            <img src="img/icon-document.svg" alt="">
                        </a>
                        <a href="#footer">
                            <img src="img/icon-document.svg" alt="">
                        </a>
                        <a href="#footer">
                            <img src="img/icon-document.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>    
        </footer>
        @@include('./modal-contact-form.html')
        @@include('./modal-thanks.html')
