<div class="modal micromodal-slide" id="modal-contact-form" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-custom-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <button class="modal__close" aria-label="Close modal" data-custom-close></button>          
            <div class="modal__content" id="modal-content">
                <p class="modal__title">Заполните пожалуйста форму для составления заявки</p>
                <form action="">
                    <div class="form-container">
                        <div class="form-row row">
                            <label>
                                Имя
                                <input type="text">
                            </label>
                            <label>
                                Номер телефона
                                <input type="text" placeholder="+ 7 911 000 00 00">
                            </label>
                            <label>
                                Адрес электронной почты
                                <input type="email">
                            </label>
                            <label>
                                Дополнительная информация
                                <input type="text">
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-accent-1">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
