section#before-footer{
    padding-top: 75px;
    padding-bottom: 115px;

    @include sm-block{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container{
        background: url(../img/control.png) top 90px right no-repeat;
        @include md-block{
            background-position: center right;
            background-size: 50%;
        }
        @include sm-block{
            background: none;
            &::after{
                content: url(../img/control-mob.jpg);
                display: block;
                margin-top: 30px;
                text-align: center;
                font-size: 0;                
            }
        }

    }

    h2{
        @include size(5);
        @include size-md(8);
        @include size-sm(12); 
        @include sm-block{
            width: 100%
        }
        @include xs-block{
            @include h1-mobile;
        }
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 49px;
    }
    
    .sub-heading{
        @include size(4);
        @include size-md(6); 
        @include size-sm(8); 
        @include size-xs(12);
        @include sm(width, 100%);
        line-height: 20px;        
        margin-bottom: 30px;
    }

    form{
        @include size(5);
        @include size-md(6);
        @include size-sm(9);        
        @include p2;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        @include sm-block{
            margin: 0 auto;
            max-width: 415px;
        }
        @include xs-block{
            width: 100%;
        }

        input, textarea{
            width: 100%;
            margin-top: 10px;
            background: #F7F7F7;
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            box-sizing: border-box;

            &::placeholder{
                color: #B8B8B8;
            }
        }

        input{
            height: 55px;
            margin-bottom: 15px;
            padding: 0 15px;            
        }
    }

    button{
        @include sm-block{
            margin: 0 auto;
        }
    }
    
    textarea{
        display: block;
        height: 85px;
        margin-bottom: 35px;
        padding: 15px;
        resize: none;
        line-height: 22px;
        @include xs-block{
            margin-bottom: 30px;
        }          
    }
}