.newsletter{
    @include col;
    @include size(12);
    @include size-xs(12);
    @include sm-block{
        margin-top: 0;
        margin-bottom: 65px;
        padding: 40px 20px 70px;
    }
    min-height: 325px;
    margin-top: 10px;
    margin-bottom: 65px;
    padding: 50px 65px;
    background: $violet;
    color: #fff;
    border-radius: 8px;

    h3{
        @include sm-block{
            @include h1;
        }
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 10px;            
    }

    .descript{
        @include size-xs(10);
        @include t2;
        margin-bottom: 35px;
    }

    form{
        @include xs-block{
            margin-bottom: 25px;
        }
        @include p2;
        margin-bottom: 15px;

        input{
            @include md-block{
                margin-bottom: 20px;
            }
            width: 100%;
            max-width: 475px;
            height: 55px;
            margin-right: 20px;
            padding: 0 15px;  
            background: #F7F7F7;
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            outline: none;
            box-sizing: border-box;

            &::placeholder{
                font-size: 14px;
                color: $grey;
            }
        }
    }

    button{
        @include xs-block{
            max-width: 260px;
        }
        display: inline-block;
    }

    .rules{
        @include size(8);
        @include xs-block{
            width: 100%;
        }
        @include t4;
    }
    
}