.products-cost{
    padding-top: 75px;
    padding-bottom: 70px;
    @include sm-block{
        padding-top: 50px;
        padding-bottom: 25px;
    } 

    .const-info-header{
        @include p4;
        @include sm-block{
            display: none;
        }
        margin-bottom: 25px;
        font-size: 20px;
        
        .product-title, .cost-title{
            @include col;
            @include md-block{
                padding: 0 15px;
            }
            padding: 0 45px;
        }

        .product-title{
            @include size(5);                
            @include size-md(6);                
        }
        .cost-title{
            @include size(3);
            @include size-md(3);
            margin-left: 0;                
        }
    }

    .cost-info{
        padding-top: 55px;
        padding-bottom: 95px;        
    }

    .product-row{
        @include row-flex;
        @include sm-block{
            display: block;
            margin-left: 0;
            margin-right: 0;
            padding: 35px 15px 45px;
            background: #fff;
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.1);
            border-radius: 8px;
        }
        @include xs-block{
            margin-left: 0;
            margin-right: 0;
        }
        
        & + .product-row{
            margin-top: 30px;
        }
    }
    
    .title, .cost, .actions{
        @include col;
    }

    .title, .cost{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 105px;
        padding: 25px 45px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.1);
        @include md-block{
            min-height: 75px;
            padding: 15px;
        }
        @include sm-block{
            padding: 0;
            min-height: auto;
            box-shadow: none;

        }
    }


    .title{
        @include size(5);
        @include size-md(6);
        @include size-sm(12);
        @include md-block{
            font-size: 16px;
            line-height: normal;
        }
        @include sm-block{
            font-size: 18px;
            margin-bottom: 15px;

        }
        @include xs-block{
            margin-bottom: 15px;
            line-height: 25px;
        }
        @include t1;
    }

    .cost{
        @include col;
        @include size(3);
        @include size-md(3);
        @include size-sm(12);
        @include p2;
        @include md-block{
            font-size: 16px;
            justify-content: center;
        }
        @include sm-block{
            @include p4;
            justify-content: flex-start;
            margin-bottom: 35px;
            margin-left: 15px;
        }
        @include xs-block{
            margin-bottom: 35px;
        }
        margin-left: 0;
    }

    .actions{
        @include xs-block{
            margin: 0;
        }
        align-self: center;
    }

    .btn{
        @include md-block{
            width: 155px;
        }
        @include sm-block{
            width: 270px;
            height: 55px;
        }
        width: 205px;
        height: 40px;
    }   
}