.-item{
    flex-basis: 325px;
    min-height: 200px;
    // @include col();
    @include t2;
    margin-bottom: 25px;
    padding: 30px 25px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    box-sizing: border-box;
    @include xs-block{
        flex-basis: 275px;
        height: 220px;
        margin-bottom: 40px;
        padding: 25px 20px;
        ul{
            color:$violet;
        }
    }

    p{
        margin-bottom: 8px;
        @include t3;
    }

    li + li{
        margin-top: 5px;
    }
}