.first-screen.fresh{
    @include sm-block{
        padding-top: 30px;
        padding-bottom: 55px;
    }
    position: relative;
    background: none;
    min-height: 600px;
    padding-top: 90px;
    padding-bottom: 90px;


    &::before{
        @include md-block{
            background-position-x: 54%;
        }
        @include sm-block{
            height: calc(100% + $space_between_firScr_and_pageTop_mobile);
            background: url(../img/fresh-mobile.png) top 65px right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
            background-size: 665px;
        }
        @include xs-block{
            background: url(../img/fresh-mobile.png) top 150px right no-repeat, linear-gradient(189.75deg, #FFFFFF 14.87%, #F4F4F4 62.25%);
            background-size: 430px;
        }
        @include from-to(355px, 500px){
            // background-size: 480px;
        }

        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% + $space_between_firScr_and_pageTop);
        background: url(../img/fresh.png) center 18px no-repeat, linear-gradient(180.52deg, #FFFFFF 16.17%, rgba(235, 235, 235, 0.72) 63.65%);;
        bottom: 0;
        z-index: -1;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(.5, 0.01, 0.58, 0.46);
    
        @keyframes Appearance {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    
    h1{
        @include sm-block{
            margin-bottom: 10px;
        }
        margin-bottom: 25px;
    }

    .sub-title{
        @include size(5);
        @include size-sm(8);
        @include size-xs(10);
        @include sm-block{
            margin-bottom: 215px;
        } 
        @include xs-block{
            @include h3-mobile;
        } 
        margin-bottom: 50px;
    }
    
    .actions{
        @include xs-block{
            margin-bottom: 75px;

            a{
                margin-left: auto;
                margin-right: auto;
            }
        }
        margin-bottom: 50px;
    }

    .slider-container{
        padding: 0;
    }

    .swiper{
        @include from(993px){
            padding: 20px 15px;
            margin-left: -15px;
            margin-right: -15px;
        }
        @include sm-block{
            margin-left: -15px;
            margin-right: -15px;
        }
        @include xs-block{
            margin-left: -10px;
            margin-right: -10px;
        }
    }



    .items{
        @include t2;
        display: flex;
        justify-content: space-between;
    }

    .items__item{
        @include from(993px){
            transition: transform .3s;

            &:hover{
                transform: scale(105%);
            }
        }
        @include sm-block{
            padding: 20px 20px 30px 35px;
        }
        flex-basis: 235px;
        height: 165px;
        background: #fff;
        padding: 20px 15px 30px 30px;
        border-radius: 8px;
        box-shadow: 0px 5px 20px rgba(41, 41, 42, 0.07);
        box-sizing: border-box;

        img{
            margin-bottom: 5px;
        }


    }

    .slider-nav{
        @include md-block{
            display: block;
        } 
        display: none;
        margin-top: 40px;
        text-align: center;
    }
}
