.for-bg-questions__why-we__cases{
    @include md-block{
        background: none;
    }
    background: url(../img/rectangle-grey-right-ws.svg) calc(50% - 695px) 220px no-repeat; 
}

.q-a-fresh{
    padding-top: 55px;
    padding-bottom: 85px;    
    @include sm-block{
        padding-bottom: 50px;
        padding-top: 50px;
    }


    h2{
        @include sm-block{
            margin-bottom: 35px;
        }
        margin-bottom: 65px;
    }

    .panes{
        align-items: flex-start;
    }
    
    .div-bg{
        box-shadow: 0 10px 20px rgb(41 41 42 / 10%);
        border-radius: 8px;
        @include sm-block{
            box-shadow: 0px 5px 20px rgba(41, 41, 42, 0.07);
        }
    }
    .pane{
        @include col();
        @include size(6);
        @include size-xs(12);
        @include sm-block{
            margin-bottom: 10px;
        }
        margin-bottom: 20px;
        min-height: 90px;
        box-shadow: none;

        &:hover.active .div-bg{
            background: $violet;
        }
    }

    .pane-title{
        @include sm-block{
            @include h3-mobile;
            box-sizing: border-box;
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 90px;
        }
    }

    .pane-title::after{
        right: 15px;
    }

    .pane-content{
        @include sm-block{
            @include t4;
        }
        @include t2;
    }

    
    .actions-mobile{
        display: none;
        @include sm-block{
            margin-top: 25px;
            display: block;

            a{
                margin: auto;
            }
        }
    }

}