#tarifs{
    @include md(padding-bottom, 15px);
    padding-bottom: 45px;
    
    .container-full{
        @include sm-block{
            background: none;
            padding-top: 40px;
        }
        padding: 80px 0 0;
        background: linear-gradient(0deg, #FFFFFF 56%, rgba(235, 235, 235, 0.72) 93%);
        
    }

    .max-width.for-bg{
        @include from-to(721px, 1440px){
            background: url(../img/rectangle-fast-simple.png) left top no-repeat;
        }

    }

    .tarif-items{
        padding-top: 70px;
        @include sm-block{
            padding-top: 50px;        
        }
    }
    
    .tarif-item{
        @include col;
        @include size(6);
        @include size-md(12);
        @include size-xs(12);
        @include sm-block{
            min-height: 490px;
            margin-bottom: 30px;
            padding: 30px 15px;
        }
        display: flex;
        flex-direction: column;
        min-height: 615px;
        margin-bottom: 45px;
        padding: 65px 50px 60px 45px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 4px 20px rgba(41, 41, 42, 0.1);
        transition: transform .3s ease 0s;
        cursor: pointer;
    
        &.active{
            outline: 2px solid $violet;
        }
    
        &:hover{
            transform: scale(103%);
        }
    
        .tarif__name{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 700;
            line-height: 25px;
            @include sm-block{
                font-size: 20px;
                margin-bottom: 15px;
            }    
        }
        
        
        .actions{
            margin-top: auto;
            text-align: right;
            justify-content: center;
            @include sm-block{
                text-align: left;
            }
        }
    
        .tarif__cost{
            @include p1;
            margin-right: 10px;
            font-weight: 700;
            @include sm-block{
                padding-left: 25px;
                margin-right: 0;
                display: block;
                margin-bottom: 25px;            
            }
        }
        
        .btn{
            display: inline-flex;
            @include sm-block{
                width: 260px;
                
            }
        }
    }
    
    
    .tarif__includes{
        @include t1-including-mobile;
    
        li{
            position: relative;
            padding-left: 40px;
            @include sm-block{    
                padding-left: 25px;
            }
    
            &::before{
                @include text-width-triangle-center;
                top: 1px;
                @include sm-block{
                    width: 9px;
                    height: 14px;
                }
            }
    
            & + li{
                margin-top: 20px;
            }
        }
    }
    
    
}