#what-include{
    @include md-block{
        padding-top: 50px;
    }
    padding-bottom: 55px;

    h2{
        @include size(9);
        @include size-md(10);
        @include sm(margin-bottom, 20px);
        @include xs-block{
            width: 100%;
        }
        margin-bottom: 40px;
    }

    .max-width{
        @include from(1440px){
            // max-width: 1440px;
            box-sizing: border-box;
            padding-left: 150px;
        }
        @include md-block{padding: 0;}
        padding-left: calc((100% - 1110px) / 2 - 15px);
    }

    .swiper{
        @include sm-block{
            padding-bottom: 35px;
        }
        padding-top: 20px;
        padding-bottom: 60px;

    }

    .swiper-slide{
        @include sm-block{
            @include t1-mobile;
            flex-basis: 275px;
            height: 220px;
            padding-top: 35px;
            padding-left: 20px;
        }
        flex-basis: 365px;
        height: 255px;
        padding-left: 35px;
        padding-right: 10px;
        padding-top: 60px;
        padding-bottom: 60px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(41, 41, 42, 0.07);
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        transition: transform .3s;
        @include t2;
        
        &:hover{
            transform: scale(102%);
        }

    }

    .title{
        @include t3;
        display: block;
        margin-bottom: 5px;
        @include sm-block{
            margin-bottom: 20px;
        }        
    }

    .slider-nav{
        text-align: right;
        @include md-block{
            text-align: center;
        }
    }
}