.why-we{
    @include sm-block{
        padding-top: 50px;
    }
    padding-top: 105px;
    padding-bottom: 25px;

    &-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2{
        @include size(6);
        @include sm-block{width: 100%}
        @include xs-block{margin-bottom: 22px;}
    }

    .why-we-list{
        @include size(6);        
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{
            padding-top: 0;
            padding-left: 5px;
        }        
        @include t1-including-mobile;
        padding-top: 20px;

        li{
            padding-left: 35px;

            &::before{
                @include sm-block{top: 0;}
                top: 1px;
            }
        }
    }
}

