.first-screen-contacts{
    @include sm-block{
        padding-top: 20px;
    }
    padding-top: 65px;

    > .contacts-wrapper{
        @include sm-block{
            padding: 0;
        }
    }

    h1{
        @include sm-block{
            margin-bottom: 35px;
        }
        margin-bottom: 55px;
    }
}

#page-contacts{

    .towns-tabs{
        @include sm-block{
            display: none;
        } 
        @include p2;
        display: flex;
        margin-bottom: 70px;
        border-bottom: 1px solid #c4c4c4;
    
        .tablinks{
            position: relative;
            padding: 10px 0;
            cursor: pointer;
            transition: color .3s;
    
            @include animate-link-from-center;
    
            & + .tablinks{ 
                margin-left: 70px;
            }
        }
    }
    
    .contacts__content{
        @include sm-block{margin-top: 140px; padding: $fields;}
        @include xs-block{padding: $fields-xs;}
        position: relative;
        min-height: 500px;
        background: #f5f5f5;
    }
    
    .contacts-box{
        @include sm-block{
            top: -110px;
            left: 15px;
            right: 15px;
            padding: 50px 20px 60px;
        }
        @include xs-block{left: 10px; right: 10px;}
        position: absolute;
        display: none;
        max-width: 530px;
        padding: 75px 40px 85px;
        top: 75px;
        left: 35px;
        background: #fff;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        border-radius: 8px;
        box-sizing: border-box;
    
        &.active{
            display: block;
        }
    
    }
    
    .contacts-info{
        @include sm-block{
            margin-bottom: 60px;
        }
        margin-bottom: 35px;
    
        div + div{
            margin-top: 25px;
        }
    }
    
    .contacts-phone, .contacts-mail, .contacts-address{
        display: flex;
        align-items: baseline;
    
        &::before{
            position: relative;
            top: 2px;
            margin-right: 12px;
        }
    }
    
    .contacts-phone::before{
        content: url('../img/icon-phone.svg');
    }
    
    .contacts-phone, .contacts-mail{
        @include p2;
    }
    
    .contacts-address{
        @include t1;
    
        &::before{
            content: url('../img/icon-marker.svg');
        }
    }
    
    .contacts-mail{
        color: $violet;
    
        &::before{
            content: url('../img/icon-mail.svg');
        }
    }
    
    .social-share-list{
        @include xs-block{justify-content: space-between;}
        display: flex;
    
        li + li{
            @include md-block{
                margin-left: 20px;
            }
            @include xs-block{margin-left: 0;}
            margin-left: 15px;
    
            
        }
    
        img{
            @include xs-block{max-width: 45px;}
            background: #fff;
            box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
        }
    
    }
}

#contacts__content-map{
    @include sm-block{ margin-left: -$fields;}
    @include xs-block{ margin-left: -$fields-xs;}
    position: absolute;
    width: 100%;
    height: 100%;
}

[class*="ground-pane"]{
    filter: grayscale(1);
}
[class*="copyrights-pane"]{
    display: none;
}
