// .degub-grid{
//     display: none;
//     @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
//     z-index: 10;
//     &.active{
//         display: block;
//     }
// }
::before, ::after{
    font-size: 0;
    line-height: 0;
}


button.grid{
    display: none;
    all: unset;
    padding: 20px;
    background: #ccc;
    position: fixed;
    z-index: 9999;
    left: 300px;
    color: white;
    
    @include sm(display, none);
}
div, button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{    
    font-family: $font-family;
    @include sm-block{
        padding-top: 65px;
    }

    &.scroll-lock{
        overflow: hidden;
    }
}

h2.animate__animated{ 
    visibility: hidden;
}

h2.animate__fadeInDown{
    visibility: visible;
}



h1, h2, .h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 61px;
    letter-spacing: 0.3px;
    color: $black-text;
    margin-top: 0;

    @include sm-block{        
        font-size: 40px;
        line-height: normal;
    }

    @include xs-block{        
        @include h1-mobile;
        color: $black-text;
    }
}



h3{
    margin-top: 0;
}

p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: $black-text;
    transition: color .3s;

    &:not(.btn):hover{
        color: $violet-dark;
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    position: relative;
}

input, textarea{
    border: none;
}

button{
    outline: none;
    border: none;
}

.btn{
    display: flex;
    position: relative;
    align-items: center;
    width: 245px;
    height: 55px;
    justify-content: center;
    border-radius: 9px;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 1;

    @extend %button-text;

    @include xs-block{
        width: 300px;
    }
}

.btn-accent-1{
    @include button-accent-1;
    @include animate-swipe($violet-dark);
}

.btn-accent-2{
    @include button-accent-2;
    @include animate-swipe($orange-dark);
}

.btn-outline{
    @include button-outline;
    @include animate-swipe($violet-dark, #fff);

}

.container{
    @include wrapper;
}

.container-full{
    @include wrapper-full;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.row{
    @include row-flex();
}



//******* SLIDER *******//
.slider-nav{
    font-size: 0;
    @include sm-block{
        text-align: center;              
    }
}

.swiper-button-prev, .swiper-button-next{
    width: 50px;
    height: 50px;
    position: static;
    display: inline-block;
    background-size: contain;
    margin-top: 0;

    @include sm-block{
        width: 35px;
        height: 35px;  
    }

    @include xs-block{
        width: 30px;
        height: 30px;
    }
}

.swiper-button-prev{
    background: url(../img/arrow-left-circle-fill.svg) no-repeat;
    background-size: contain;

    margin-right: 25px;
    &::after{
        content: '';
    }
    @include sm-block{
        margin-right: 20px;
    }
}

.swiper-button-next{
    background: url(../img/arrow-right-circle-fill.svg) no-repeat;
    background-size: contain;

    &::after{
        content: '';
    }
}



//******* END SLIDER *******//



#bread-crumbs{
    margin-top: 20px;
    .current-page{
        color: $violet;
        margin-right: 15px;    
    }

    li{
        font-size: 11px;
        line-height: 13px;
        display: inline;        
    }

    li+li::before{
        @include xs(padding, 0);
        color: black;
        font-size: inherit;
        padding: 5px;
        content: "/\00a0";
        
    }

    a:hover{
        text-decoration: underline;
    }

}

[data-aos] {
    visibility: hidden;
}

[data-aos].animate__animated {
    visibility: visible;
}








