header#head{
    @include font-header;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    @include sm-block{
        position: fixed;
        top: 0;
        padding: 0;
        background: #fff;
        box-shadow: 1px 1px 10px $violet-dark;
        z-index: 11;
        top: 0;
        left: 0;
        width: 100%;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fafafa;            
        }
    }    

    .container{
        position: relative;
        z-index: 2;
    }

    .row{
        justify-content: space-between;
        align-items: center;
        @include sm-block{
            height: 65px;
        }
    }

    .logo{
        @include col;
        flex-basis: auto;
        @include size-xs(6);
    }

    img{
        @include xs(max-width, 77px);
    }
    
    .contact-info{
        @include col;
        @include size(2);

        text-align: right;

        @include md-block{
            display: none;
        }
    }

    .icon-menu-burger{
        display: none;
        @include col;
        @include sm-block{
            display: block;
        }
    }

    
}



