/* Colors */

$orange: #F59F27;
$orange-dark: #E78F14;
$violet: #8A19E1;
$yellow: #FFDD00;
$violet-dark: #5E0B9E;
$black: #343434;
$black-text: #000;
$grey: #D6D6D6;
$light-grey: #F5F5F5;

$space_between_firScr_and_pageTop: 157px;
$space_between_firScr_and_pageTop_mobile: 103px;

$font-family: 'Montserrat';

%button-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;    
    color: #fff;
    letter-spacing: 0.3px;    
}



