.bg-wrapper-about{
    @include md-block{
        background: none;
    }
    background: url(../img/rectangle-main-arguments.svg) calc(50% + 830px) 90px no-repeat;
}

.about-philosophy{
    @include sm-block{padding-top: 45px;
        min-height: auto;
        padding-bottom: 75px;
    }
    padding-top: 70px;
    min-height: 665px;

    .container{
        @include sm-block{background: none}
        position: relative;
        background: url('../img/chat.png') right 195px no-repeat;
        min-height: inherit;

        &::after{
            @include sm-block{
                content: '';
                display: block;
                width: 245px;
                height: 220px;
                margin: auto;
                background: url('../img/chat.png') center/contain no-repeat;
            }
        }
    }
    

    h2{
        @include size(10);
        @include sm-block{width: 100%; font-size: 26px; margin-bottom: 25px;}
        font-size: 48px;

        .modify{
            color: $violet;
        }
    }

    .descript{
        @include size(5);
        @include size-sm(12);
        @include size-xs(12);
        @include sm-block{margin-bottom: 30px;}
        @include t1-including-mobile;

    }
}