.bg-wrapper{
    @include md-block{
        background: none;
    }
    background: url(../img/rectangle-main-arguments.svg) calc(50% + 760px) 160px no-repeat;
}
.main-arguments{
    @include md-block{
        min-height: auto;
        padding-bottom: 35px;
    }
    @include xs-block{
        padding-top: 35px;
        padding-bottom: 50px;
        min-height: auto; 
    }
    position: relative;
    padding-top: 60px;
    min-height: 700px;
    color: #18191F;

    .max-width{
        @include from(1441px){
            padding-left: 165px;
        }
        @include from-to(1110px, 1440px){
            padding-left: calc((100% - 1110px) / 2);
        }        
        @include md-block{ 
           padding-left: $fields;
        }
        @include xs-block{ 
           padding-left: $fields_xs;
        }
        padding-left: $fields;
        overflow: hidden;
    }

    h2{
        margin-bottom: 65px;
        @include size(8);
        @include size-xs(12);
        @include sm-block{ 
            width: 100%;
            margin-bottom: 30px;
        }        
    }

    .problem{
        @include col;
        @include size(4);
        @include size-md(5);
        @include size-sm(12);
        @include sm-block{
            margin-bottom: 55px;
        }
    }
    .problem__text{
        @include xs-block{
            margin-bottom: 0;
        }
        @include t1-including-mobile;
        margin-bottom: 35px;
    }

    .actions{
        @include xs-block{
            display: none;
        }
    }

    .actions-mobile{
        @include xs-block{
            display: block;
        }
        display: none;

        button{
            margin: 0 auto;
        }
    }

    .slider{
        @include col;
        @include size(8);
        @include size-md(7);
        @include size-sm(12);
        @include md-block{
            transform: none;
        }        
        @include sm-block{
            transform: none;
            margin-bottom: 50px;
        }
        transform: translateX(40px);   
    }

    .swiper-wrapper{
        margin-bottom: 20px;
    }
    
    .swiper-slide{
        @include t1;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-top: 70px;
        align-content: flex-start;
        justify-content: center;
        background: #fff;
        background-image: url(../img/arguments-slide.jpg);
        flex-basis: 450px;
        height: 315px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
        transition: box-shadow .3s;
        cursor: pointer;
        
        @include md-block{
            flex-basis: 350px;
            height: 300px;
            padding-top: 30px;
        }
        @include sm-block{
            flex-basis: 280px;
            height: 235px;
            padding-top: 30px;
            @include t1-mobile;
        }
        @include xs-block{
            flex-basis: 220px;
            height: 180px;
            padding-top: 30px;
        }

        .icon-slider{
            flex-basis: 100%;
            position: relative;
        }

        img{
            margin: 0 auto;
            font-size: 0;
            border-radius: 8px;
            opacity: 0;
            transition: opacity .5s;            
            @include sm-block{                
                max-width: 70px;
                top: 35px;
            }
        }
        
        img:nth-child(2){
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            position: absolute;
            opacity: 1;
            transition: opacity .5s;
        }

        p{
            max-width: 340px;
            margin-top: 35px;
            padding: 0 15px;
            @include sm-block{                
                margin-top: 20px;
            }
        }
    
    }

    .swiper-slide:not(.swiper-slide-active):hover{
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.7);
    }

    .swiper-slide-active{        
        color: #fff;
        background-image: url(../img/arguments-slide-active.jpg);
        box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.1);
        transition: color .5s;
        @include xs-block{                
           background-size: cover;
        }

        img{
            opacity: 1;
            transition: opacity .5s;           

        }

        img:nth-child(2){
            opacity: 0;
            transition: opacity .5s;
        }
    }

    .slider-nav{
        @include sm-block{
            margin-top: 30px;
        }
    }

}



