section#blog{
    padding: 80px 0;
    @include sm-block{
        padding: 50px 0;
    }

    .blog-row{
        @include sm-block{
            display: block;
        }
    }

    h3{
        position: relative;
        padding-right: 50px;
        margin-bottom: 15px;
        padding-right: 30px;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        &::after{
            content: url('../img/arrow.svg');
            position: absolute;
            right: 0;
            top: 10px;
            background-size: contain;
            width: 20px;
            height: 20px;
            
            @include sm-block{
                content: '';
            }
        }

    }
    
    .read__more{
        display: none;
        padding-right: 15px;
        color: $violet;
        font-size: 11px;
        font-weight: 600;
        text-align: right;
        @include sm-block{
            display: block;
        }
        &::after{
            content: url('../img/arrow-small.svg');
            display: inline-block;
            margin-left: 5px;
            margin-top: 15px;
        }
    }

    .news, .img{
        @include col();
    }

    .news{
        @include size(7);
        @include size-md(10);
        @include size-sm(12);
        overflow: visible;
        @include sm-block{
            overflow: hidden;
        };
    }

    .news-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include sm-block{
            flex-wrap: nowrap;
        };        

        a{
            display: block;
        }
    }

    .news-item{
        flex-basis: 290px;
        margin-bottom: 20px;
        transition: all .3s;
        &:hover{
            transform: scale(105%);
            @include sm-block{

                transform: none;
            }
        }
        @include sm-block{
            flex-basis: auto;          
            margin-bottom: 15px;
            transform: none;
        }
        @include xs-block{
            flex-basis: auto;            
        };
    }

    .first-news{
        flex-basis: 440px;
        margin-bottom: 55px;
        @include sm-block{
            flex-basis: 50%;
            margin-bottom: 15px;
        };

        @include xs-block{
            flex-basis: auto;      
        };

        h3{
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
        }

        .short-descript{
            @include t2;
        }
    }

    .slider-nav{
        display: none;
        @include sm-block{
            display: block;
        }
    } 

    .short-descript{
        @include t4;
        font-weight: 500;
    }

    .img{
        @include size(5);
        @include size-sm(4);
        @include md-block{
            display: none;
        }      
    }


}